<p>home works!</p>

<a
    [perpetuumAnalytics]="{ eventCategory: 'test category', eventAction: 'login click', eventLabel: 'event label', eventValue: 100 }"
    href="#"
    >Click event 1</a
>
<a
    [perpetuumAnalytics]="{ eventCategory: 'test category2', eventAction: 'register click', eventLabel: 'event label', eventValue: 100 }"
    href="#"
    >Click event 2</a
>
<a
    [perpetuumAnalytics]="{ eventCategory: 'test category3', eventAction: 'add to cart click', eventLabel: 'event label', eventValue: 100 }"
    href="#"
    >Click event 3</a
>
